:root {
   --primary: #2B3674;
   --color-secondary: #A3AED0;
   --color-accent: #10b981;
   --color-background: #1f2937;
}

.dark {
   --primary: #6366f1;
   --color-secondary: #fbbf24;
   --color-accent: #34d399;
   --color-background: #111827;
}